<div class='card mt-3' local-class='steps-container' ...attributes>
  {{#each this.selectionProgress.steps as |step index|}}
    <div
      role='button'
      local-class='{{step.stepClasses}}'
      {{on 'click' (fn this.transitionIfComplete step index)}}
      data-test-step={{index}}
    >
      <div local-class='header' data-test-header>
        {{#if step.isComplete}}
          <div class='checkmark-bullet' data-test-checkmark-bullet></div>
        {{else}}
          <div class='number-bullet' data-test-number-bullet>{{inc index}}</div>
        {{/if}}
        <span local-class='title' data-test-title>{{step.title}}</span>
      </div>
      {{#if step.isComplete}}
        {{#each step.displayValues as |displayValue index|}}
          <div local-class='display-value' data-test-display-value={{index}}>
            {{displayValue}}
          </div>
        {{/each}}
      {{/if}}
    </div>
  {{/each}}
</div>