<div class='card' ...attributes>
  <div class='card-body'>
    <div class='row align-items-center'>
      <div class='col-9'>
        <h5 class='card-title' data-test-title>{{@service.description}}</h5>
        <p class='card-text' data-test-text>{{@service.duration}} {{t 'time.minutes'}}</p>
      </div>
      <div class='col-3 text-end'>
        <button
          type='button'
          class='btn btn-primary'
          {{on 'click' (fn this.selectService @service)}}
          data-test-select-button
        >
          {{t 'general.select'}}
        </button>
      </div>
    </div>
  </div>
</div>